@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

.home {
  background-color: black;
  visibility: hidden;
}

.home .introduction {
  overflow: hidden;
}

.home .intro-img {
  clip-path: polygon(
    15% 0,
    100% 0,
    100% 43%,
    100% 79%,
    100% 100%,
    32% 100%,
    0 100%,
    0% 43%,
    0 16%
  );
  width: 100%;

  border-radius: 0px 15px 15px 15px;
}

.home .intro-img-container {
  position: relative;
  overflow: hidden;
}

.home .intro-img-container:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: white;
}

.home .introduction-bg {
  min-height: calc(100vh - 5.8rem); /** minus navbar height**/
  padding-top: 3vh;
  padding-bottom: 3vh;
  background-color: white;

  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  flex-direction: column;
  align-items: flex-start;
}

.home .introduction .title {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 30rem;
  margin-bottom: 1rem;
}

.home .introduction .title h2 {
  overflow: hidden;
  font-size: 3.5rem;
}

.home .introduction .title h2 span.gsapIntroHeading {
  display: inline-block;
  transform: translateY(100%);
}

.home .introduction .emphasis {
  font-weight: 500;
  /* color: #727272; */
  /* color: #ff577b; */
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.144) 50%,
    transparent 50%
  );
}

.home .introduction .sub-title {
  margin-top: 5vh;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #727272;

  overflow: hidden;

  /* color: rgba(255, 255, 255, 0.781); */
  letter-spacing: 2px;
}

.home .introduction .sub-title span {
  display: inline-block;
  transform: translateY(100%);
}

.home .introduction .description {
  max-width: 30rem;
  text-align: left;
  margin-bottom: 2rem;
  overflow: hidden;
  /* color: rgba(255, 255, 255, 0.822); */
}

.home .introduction .description p {
  overflow: hidden;
}

.home .introduction .description p span {
  display: inline-block;
  transform: translateY(100%);
}

.home .btn-wrap {
  filter: drop-shadow(-1px 2px 2px rgba(10, 10, 0, 0.3));
  overflow: hidden;
}

.home .btn-wrap span {
  display: inline-block;
  transform: translateY(120%);
}

.home .introduction .btn-shop {
  text-transform: uppercase;
  padding-right: 1.7rem !important;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  font-weight: 500;
  width: 12.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.home .introduction .btn-free-delivery {
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 1.7rem !important;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  -webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(11.5% 0, 100% 0, 100% 100%, 0% 100%);
  font-weight: 500;
  width: 12.5rem;
  background-color: #e6e6e6;
}

.home .btn-shop:hover {
  font-weight: 600;
  transition: 1.5s;
  transform: translateX(5px);
}

.home .btn-free-delivery:hover {
  font-weight: 600;
  transition: 1.5s;
  transform: translateX(-5px);
}

.home .testimonial {
  color: white;
  padding: 2rem;
}

.home .testimonial .title {
  /* color: #616161; */
  font-size: 2rem;
  transform: translateY(40%);
}

.home .testimonial .rating-figure {
  font-size: 4rem;
  font-weight: 600;
}

.home .testimonial .rating-icons {
  color: #ffda55;
}

.home .testimonial .rating-description {
  font-weight: 500;
}

.home .featured-products {
  margin-top: 4rem;
}

.home .featured-products .title {
  font-size: 2.5rem;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: white;
  letter-spacing: 3px;
}

.home .featured-products .sub-title {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 2rem;
  color: rgba(255, 255, 255, 0.74);
}

.home .featured-products .item-information-container {
  background-color: #b6b6b6;
  height: 15vh;
  padding: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.home .featured-products .item-information-container .item-name {
  font-weight: 600;
}

.home .featured-products .item-information-container .item-price {
  font-weight: 500;
}

.home .featured-products .tag {
  background-color: #474747;
  font-family: "Montserrat", sans-serif;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.795);
  text-transform: uppercase;
  width: 9rem;
  min-height: 2.5rem;
  text-align: center;
  transform: translateY(1.1rem) translateX(1rem);
  position: absolute;
  /* box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset; */
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.home .loadedWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: calc(65vh);
}

.home .limited-edition-products-container {
  position: relative;
  overflow: hidden;
}

.home .limited-edition-products:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  /* background: black; */
}

.home .limited-edition-products {
  margin-top: 1rem;
  position: relative;
  background: url("../../../../src/assets/img/casetify_6f1d1ac2-f7b4-450c-9a99-ebe7a5e62b6b 1.png");
  background-size: cover;
  background-attachment: fixed;
  height: 65vh;
}

.home .limited-edition-products .img-limited-edition-products {
  width: 100%;
  background-attachment: fixed;
}

.home .limited-edition-products .sub-title {
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(255, 255, 255, 0.767);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: 2vh;
}

.home .limited-edition-products .title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 4vh;
  line-height: 10vh;
  letter-spacing: 1.4rem;
  font-weight: 500;
}

.home .limited-edition-products .collab-icon {
  filter: invert(100%);
  margin-bottom: 4px;
}

.home .limited-edition-products .btn-limited-edition {
  border: 2px solid white !important;
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  background-color: black;
  border: none;
  width: 12rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0px;
  /* cursor: none; */
  z-index: 100;
}

.home .limited-edition-products .btn-limited-edition:hover {
  font-weight: 600;
  letter-spacing: 3px;
  transition: 0.4s ease-in;
}

.home .sales-products {
  /* background-color: #000000f5; */
  background-color: #0f0f0f;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
}

.home .sales-products .img-sales-products {
  width: 100%;
  height: 99.3vh !important;
}

.home .sales-products .top-section {
  background-color: #0000006c;
  padding: 12vh;
  color: white;
  position: inherit;
  height: 61vh;
  display: flex;
  align-items: center;
  overflow: hidden;
  overflow: hidden;
  margin-bottom: 0.2rem;
}

.home .sales-products .top-section .sub-title {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
}

.home .sales-products .top-section .title {
  font-size: 4.2vh;
  font-weight: 500;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
  line-height: 6vh;
  margin-top: 2rem;
}

.home .sales-products .top-section .price {
  font-size: 2rem;
  font-weight: 300 !important;
}

.home .sales-products .top-section .btn-buy-now {
  border-radius: 0px;
  text-transform: uppercase;
  width: 8rem;
}

.home .sales-products .top-section .wrapper {
  padding-top: 2rem;
}

.home .sales-products .bottom-section {
  padding-top: 10px;
}

.home .sales-products .left-section {
  background-color: #0000006c;
  text-align: center;
  padding-top: 13vh;
  height: 37vh;
}

.home .sales-products .left-section .title {
  font-size: 5vh;
  font-weight: 500;
  line-height: 8vh;
}

.home .sales-products .left-section .sub-title {
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  letter-spacing: 2px;
  font-size: 2vh;
}

.home .sales-products .right-section {
  background-color: #0000006c;
  padding: 12vh;
  height: 37vh;
  color: white;
}

.home .sales-products .right-section .title {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  margin-bottom: 1rem;
  font-size: 2vh;
}

.home .sales-products .right-section .description {
  line-height: 3vh;
  font-size: 1.7vh;
}
