.home {
  margin-top: 5rem;
}

.home .intro-img {
  -webkit-clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
  clip-path: polygon(24% 0, 100% 0, 100% 100%, 0 100%, 0 25%);
  border-radius: 0px 15px 15px 15px;
  /** top-left, top-right, bottom-right, bottom-left **/
}

.home .introduction .title {
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1.2;
  max-width: 30rem;
  margin-bottom: 1rem;
}

.home .introduction .emphasis {
  font-weight: 500;
  /* color: #727272; */
  background: linear-gradient(
    to top,
    rgba(255, 51, 0, 0.144) 50%,
    transparent 50%
  );
}

.home .introduction .sub-title {
  margin-top: 7rem;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  color: #727272;
  letter-spacing: 2px;
}

.home .introduction .description {
  max-width: 30rem;
  text-align: justify;
  margin-bottom: 2rem;
}

.home .btn-wrap {
  filter: drop-shadow(-1px 2px 2px rgba(10, 10, 0, 0.3));
}

.home .introduction .btn-shop {
  text-transform: uppercase;
  padding-right: 1.7rem !important;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  -webkit-clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 88% 100%, 0% 100%);
  font-weight: 600;
  width: 12.5rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.home .introduction .btn-free-delivery {
  text-transform: uppercase;
  padding-left: 2rem;
  padding-right: 1.7rem !important;
  padding-top: 0.7rem;
  padding-bottom: 0.7rem;
  -webkit-clip-path: polygon(14% 0, 100% 0, 100% 100%, 0% 100%);
  clip-path: polygon(11.5% 0, 100% 0, 100% 100%, 0% 100%);
  font-weight: 600;
  width: 12.5rem;
  background-color: #e6e6e6;
}

.home .btn-shop:hover {
  font-weight: 700;
  transition: 1.5s;
  transform: translateX(23px);
}

.home .btn-free-delivery:hover {
  font-weight: 700;
  transition: 1.5s;
  transform: translateX(-23px);
}

.home .testimonial {
  background-color: #f9f9f9;
  padding: 2rem;
  margin-top: 5rem;
}

.home .testimonial .title {
  color: #616161;
  font-size: 2rem;
  transform: translateY(40%);
}

.home .testimonial .rating-figure {
  font-size: 4rem;
  font-weight: 600;
}

.home .testimonial .rating-icons {
  color: #ffda55;
}

.home .testimonial .rating-description {
  font-weight: 500;
}

.home .featured-products {
  margin-top: 4rem;
}

.home .featured-products .title {
  font-size: 3rem;
  text-align: center;
}

.home .featured-products .sub-title {
  font-size: 1.3rem;
  text-align: center;
  margin-bottom: 5rem;
}

.home .featured-products .item-information-container {
  background-color: #b6b6b6;
  padding: 2rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.home .featured-products .item-information-container .item-name {
  font-weight: 600;
}

.home .featured-products .item-information-container .item-price {
  font-weight: 500;
}

.home .featured-products .tag {
  background-color: #474747;
  font-family: "Montserrat", sans-serif;
  padding-top: 0.6rem;
  font-weight: 500;
  color: white;
  text-transform: uppercase;
  width: 6rem;
  /* height: 100%; */
  min-height: 2.5rem;
  text-align: center;
  transform: translateY(1.1rem) translateX(1rem);
  position: absolute;
}
