# dependencies
/node_modules

# production build
/build

# logs
*.log

# IDE/Editor files
.vscode/
.idea/
*.iml
*.ipr
*.iws

# package-lock.json
package-lock.json

# environment variables
.env.local
.env.development.local
.env.test.local
.env.production.local

# macOS specific files
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Windows thumbnail cache
Thumbs.db

# Windows desktop.ini files
desktop.ini
