.products {
  margin-top: 1rem;
}

.products .product-tag {
  margin-top: 0.8rem;
  color: var(--text-orange);
  font-family: var(--font-montserrat);
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 600;
}

.products .product-price {
  font-style: italic;
  font-weight: 500;
}

.products .product-name {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.products .product-wrapper:hover {
  cursor: pointer;
}

.products .filter-nav .title {
  font-weight: 600 !important;
  font-size: 2rem;
  padding-top: 0.1rem;
  text-transform: uppercase;
}

.products .content .content-overlay {
  background: rgba(0, 0, 0, 0.7) !important;
  position: absolute;
  height: 79.5%;
  width: 92%;
  left: 10;
  /* right: 10; */
  top: 0;
  bottom: 30;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
  border-radius: 2px;
}

.products .content:hover .content-overlay {
  opacity: 1;
}

.products .content-image {
  width: 100%;
}

.products .content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.products .content:hover .content-details {
  top: 43%;
  left: 50%;
  opacity: 1;
}

.products .content-details h3 {
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.products .content-details p {
  color: #fff;
  font-size: 1em;
}

.fadeIn-bottom {
  top: 80%;
}

.fadeIn-top {
  top: 20%;
}

.fadeIn-left {
  left: 20%;
}

.fadeIn-right {
  left: 80%;
}
