.navbar-nav {
    padding: 1rem 1rem !important;
}

.navbar-brand {
    font-weight: 600;
    letter-spacing: -0.5px !important;
    /* font-family: var(--font-montserrat); */
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}

.nav-item {
    letter-spacing: 0.5px;
}

.nav-item:hover {
    transition: 0.5s;
    transform: translateY(-2px);
}

.nav-link {
    color: #000000 !important;
    font-weight: 500;
}

.nav-link:hover {
    font-weight: 600 !important;
}
