.loader-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #222;
  color: #dbd8d6;
}

.loader-wrapper h1 {
  font-size: 2vw;
  letter-spacing: 2px;
  font-weight: 600;
  overflow: hidden;
}

.loader-wrapper h2 {
  font-size: 1.5vw;
  font-style: italic;
  margin-top: 10px;
  overflow: hidden;
}

.absolute {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: black;
  z-index: 1;
}

.loader-wrapper h2 span.loader-heading,
h1 span.loader-heading {
  display: inline-block;
  transform: translateY(100%);
}
